@charset "utf-8";
*{margin: 0px;padding: 0px;outline: none;text-decoration: none;list-style: none;box-sizing: border-box;}
:is(::after,::before){margin: 0px;padding: 0px;box-sizing: border-box;}
/* start section */
body #section{width: 700px;padding:15px;}