@charset "utf-8";
*{margin: 0px;padding: 0px;outline: none;text-decoration: none;list-style: none;box-sizing: border-box;}
:is(::after,::before){margin: 0px;padding: 0px;box-sizing: border-box;}
body{max-width: 1440px;min-height: 100vh;margin:0px auto;background-color: #4A98F7;}
/* start section */
body #section{min-width: 318px;padding:2em;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: #fff;border-radius:7px;}
body #section .img{max-width:100px;margin: 0px auto 5px auto;}
body #section .img > img{width: 100%;transform-origin: bottom center;}
body #section .img > .imgAalarm{animation: move 1s infinite;}
@keyframes move{
    5%{transform: rotate(-3deg);}
    10%{transform: rotate(3deg);}
    15%{transform: rotate(-3deg);}
    100%{transform: rotate(0deg);}
}
body #section .time > h2{text-align: center;}
body #section .time > h2 span:last-child{margin-left: 5px;}
body #section .listTime{margin: 10px 0px;}
body #section .listTime :is(.listHour, .listMinute, .listAmPm){width: 82px; font-size: 14px;padding: 5px;background-color: transparent;border: 1px solid grey;cursor: pointer;}
body #section > .btnAlarm{width: 100%;padding: 10px 5px;font-weight: bold;background-color: #4A98F7;color:#fff;border: none;cursor: pointer;}
body #section > audio.soundAlarm{display: none;}
